/* About.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.paragraph {
  font-size: 1.2rem;
  text-align: justify;
  max-width: 50vw;
  padding: 0 1rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.imageContainer {
  width: 18vw;
  position: absolute;
  right: 2vw;
  top: 55vh;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

/* Responsive Media Queries */

/* For tablets */
@media (max-width: 768px) {
  .paragraph {
    max-width: 70vw;
  }

  .aboutMeContainer {
    flex-direction: column-reverse;
  }

  .imageContainer {
    position: relative;
    width: 40vw;
    right: auto;
    top: auto;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .paragraph {
    max-width: 90vw;
  }

  .title {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .button {
    padding: 0.4rem 0.8rem;
  }

  .imageContainer {
    width: 60vw;
  }
}
