/* Post.module.css */

/* Post.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imageInput {
  padding: 1rem;
  margin-left: 2vw;
  font-size: 1em;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  width: 80vw;
  max-width: 31.25rem; /* 500px equivalent in rem */
}

.titleInput {
  padding: 1rem;
  margin-left: 3vw;
  font-size: 1em;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  width: 80vw;
  max-width: 31.25rem; /* 500px equivalent in rem */
}
.submitButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.9375rem 2rem; /* 15px 32px equivalent in rem */
  text-align: center;
  font-size: 1em;
  margin-top: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.submitButton:hover {
  background-color: white; 
  color: black; 
  border: 0.2rem solid #4CAF50; /* 2px equivalent in rem */
}

.quillEditor {
  width: 80vw;
  height: 40vh;
}





/* .button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  animation: buttonHover 1s infinite;
}

@keyframes buttonHover {
  0% { background-color: #0056b3; }
  50% { background-color: #007BFF; }
  100% { background-color: #0056b3; }
} */
