/* ShowBlog.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

.imageContainer {
  width: 80vw;
  height: 45vh;
  /* overflow: hidden; */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #003366;
  margin-bottom: 1rem;
}

.author,
.updatedAt {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
}

.content {
  width: 80vw;
  font-family: 'Times New Roman', serif;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  font-size: 1.4rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px; /* Spacing between the buttons */
  margin-bottom: 1rem;
}

.editButton {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  font-size: 1em;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 0.3125rem; /* Equivalent to 5px when base font-size is 16px */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 5rem;
}

.editButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  font-size: 1em;
  color: #ffffff;
  background-color: #dc3545;
  border: none;
  border-radius: 0.3125rem; /* Equivalent to 5px when base font-size is 16px */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 5rem;
}

.deleteButton:hover {
  background-color: #c82333;
}
