.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #f5f5f5;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 20vw; 
}

.searchBar {
  padding: 0.5em;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 1vw rgba(0,0,0,0.06);
  flex-grow: 1;
}

.searchButton {
  padding: 0.5em;
  background: none;
  border: none;
  border-radius: 0 20px 20px 0;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 1vw rgba(0,0,0,0.06);
}

.navigation {
  display: flex;
  gap: 2vw;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.link:hover {
  color: royalblue;
}

/* Responsive Media Queries */

/* For tablets */
@media (max-width: 768px) {
  .searchForm {
    max-width: 50vw;
  }
  .navigation {
    gap: 1vw;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    padding: 5%;
  }
  .searchForm {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;  /* Add some space between search and navigation on mobile */
  }
  .navigation {
    gap: 1rem;
    flex-direction: column;
  }
}
