.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.inputField {
  width: 100%;
  margin-bottom: 2rem;  /* Reduced for mobile-first approach */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;  /* center the button horizontally */
  width: 100%;  /* ensure the container takes up the full width */
}

.button {
  padding: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;  /* Make button full width for mobile-first */
}

.button:hover {
  background-color: #0056b3;
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Media Queries */

/* For larger than mobile screens */
@media (min-width: 481px) {
  .inputField {
    margin-bottom: 3rem;  /* Back to original spacing */
  }
  
  .button {
    width: auto;  /* Set width back to auto for larger screens */
    padding: 1rem 3rem;  /* Increase horizontal padding for aesthetics */
  }
}
