.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.inputField {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem; /* Added for scalable font size */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  padding: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1rem; /* Added for scalable font size */
}

.button:hover {
  background-color: #0056b3;
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Media Queries */

/* For smaller/mobile screens */
@media (max-width: 480px) {
  .formContainer {
    padding: 1rem;
  }
  
  .inputField, .button {
    font-size: 0.875rem;  /* Reduced font size for better readability on mobile */
  }
}
